<!DOCTYPE html>
<html>
<head>
  <title>Ãrea Administrativa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>

<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>

Ãrea administrativa

<%= link_to 'Sair', '/users/logout' %>

<%= yield %>

</body>
</html>