<!DOCTYPE html>
<html>
<head>
  <title>Ãrea Administrativa</title>
  <%= stylesheet_link_tag  'application', 'bootstrap', :media => "all" %>
  <%= javascript_include_tag 'application', 'bootstrap' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    
</header>

<% if flash[:error] %>
    <!--
        <p class="error"><%= flash[:error] %></p>
    -->
<% end %>

<% if flash[:notice] %>
    <!--
    <p class="notice"><%= flash[:notice] %></p>
    -->
<% end %>

Ãrea administrativa

<%= link_to 'Sair', '/users/logout' %>

<div role="main">
    <%= yield %>
</div>

<footer>
    
</footer>
</body>
</html>