<!DOCTYPE html>
<meta charset="utf-8"/>
<html>
<head>
  <title>Tcc Iasp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    
</header>

    
<% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>

<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>

<div role="main">
    <%= yield %>
</div>

<footer>
    
</footer>

</body>
</html>
